<mat-card-header>	
    <h1>Funcionário</h1>
</mat-card-header>
<form [formGroup]="funcionarioForm" (ngSubmit)="onSubmit()">
    <div class="form-input">
        <mat-form-field class="mat-1" appearance="outline">
            <mat-label>Código</mat-label>
            <input [formControl]="codigo" required matInput>
            @if (codigo.invalid) {
                <mat-error>{{errorCodigoMessage()}}</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="mat-1" appearance="outline">
            <mat-label>Nome</mat-label>
            <input [formControl]="nome" required matInput>
            @if (nome.invalid) {
                <mat-error>{{errorNomeMessage()}}</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="mat-1" appearance="outline">
            <mat-label>Equipe</mat-label>
            <input [formControl]="equipe" required matInput>
            @if (equipe.invalid) {
                <mat-error>{{errorEquipeMessage()}}</mat-error>
            }
        </mat-form-field>        

        <mat-divider class="mat-3"></mat-divider>
        <mat-form-field class="mat-1" appearance="outline">
            <mat-label>Dt Nascimento</mat-label>
            <input type="date" [formControl]="dataNascimento" matNativeControl matInput>
        </mat-form-field>

        <mat-form-field class="mat-1" appearance="outline">
            <mat-label>Conta Corrente</mat-label>
            <input type="number" [formControl]="contaCorrente" matInput>
        </mat-form-field>

        <mat-form-field class="mat-1" appearance="outline">
            <mat-label>Agência</mat-label>
            <input type="number" [formControl]="agencia" matInput>
        </mat-form-field>       

        <mat-form-field class="mat-1" appearance="outline">
            <mat-label>Rede Bancária</mat-label>
            <input [formControl]="nomeBanco" required matInput>
            @if (nomeBanco.invalid) {
                <mat-error>{{errorEquipeMessage()}}</mat-error>
            }
        </mat-form-field> 

        <mat-form-field class="mat-1" appearance="outline">
            <mat-label>Logradouro</mat-label>
            <input [formControl]="logradouro" required matInput>
            @if (logradouro.invalid) {
                <mat-error>{{errorEquipeMessage()}}</mat-error>
            }
        </mat-form-field> 

        <mat-form-field class="mat-1" appearance="outline">
            <mat-label>Bairro</mat-label>
            <input [formControl]="bairro" required matInput>
            @if (bairro.invalid) {
                <mat-error>{{errorEquipeMessage()}}</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="mat-1" appearance="outline">
            <mat-label>Cidade</mat-label>
            <input [formControl]="cidade" required matInput>
            @if (cidade.invalid) {
                <mat-error>{{errorEquipeMessage()}}</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="mat-1" appearance="outline">
            <mat-label>Observação</mat-label>
            <input [formControl]="observacao" required matInput>
        </mat-form-field>
       
    </div>
    <section>
        <div class="addBtn">
            <button type="submit" mat-flat-button>Adicionar</button>
        </div>
    </section>
</form>